<div class="container">
  <div class="playerlist-container">
    <h2 style="margin-top: 20px;margin-bottom:20px;">My Portfolio</h2>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="a">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.a}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="b">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.b}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="c">
        <th mat-header-cell *matHeaderCellDef> X </th>
        <td mat-cell *matCellDef="let element"> {{element.c}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="d">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.d}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="e">
        <th mat-header-cell *matHeaderCellDef> Z </th>
        <td mat-cell *matCellDef="let element"> {{element.e}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>