<div class="profile-details-container">
  <div class="row">
    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 p-5">
      <div class="player-icons">
        <div class="logo">
          <!-- <img [src]="'https://images.cricket.com/players/'+playerStats.playerID+'_headshot_safari.png'"> -->
        </div>
        <div class="playerName">{{playerStats.fullName}}</div>
      </div>
      <div class="player-stock-infomation">
        <div class="current-rate p-3">{{playerPrice}} SPOCK COINS</div>
      </div>
      <div class="tabbed-container">
        <ul class="nav nav-tabs">
          <li class="nav-item " id="orderbook" (click)="onNavSelectChange('orderbook')">
            <div class="nav-link">Order book</div>
          </li>
          <li class="nav-item " id="statistic" (click)="onNavSelectChange('statistic')">
            <div class="nav-link">Statistics</div>
          </li>
          <li class="nav-item" id="chart" (click)="onNavSelectChange('chart')">
            <div class="nav-link">Chart</div>
          </li>
          <li class="nav-item selected" id="profile" (click)="onNavSelectChange('profile')">
            <div class="nav-link">Profile</div>
          </li>
          <!-- <li class="nav-item">
            <div class="nav-link">Financial</div>
          </li> -->
        </ul>
        <div [ngSwitch]="selectedComponent">
          <!-- the same view can be shown in more than one case -->
          <app-profile-description [playerData]="playerStats" *ngSwitchCase="'profile'"></app-profile-description>
          <app-statistic *ngSwitchCase="'statistic'"></app-statistic>
          <div id="linechart" *ngSwitchCase="'chart'">
            <app-line-chart></app-line-chart>
          </div>
          <app-order-book *ngSwitchCase="'orderbook'"></app-order-book>
          <app-profile-description *ngSwitchDefault></app-profile-description>

        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 p-5" style="backdrop-filter: contrast(0.8)">
      <app-stock-data [data]="stockData"></app-stock-data>
    </div>
  </div>



</div>