.navigation {
  float: left;
  height: 105vh;
  width: 200px;
  /* backdrop-filter: contrast(0.5); */
  backdrop-filter: contrast(0.8);
}
.userlogo {
  height: 6rem;
  text-align: center;
  width: 6rem;
  background: url("../../../assets/Asset_3.svg");
  background-repeat: no-repeat;
  margin-left: 2rem;
  background-size: contain;
}

.userinfo {
  height: 11rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 3rem;
}
.username {
  /* text-align: center; */
  font-weight: 700;
  margin-top: 8px;
  margin-left: 40px;
}

.nav-selected {
  border-left: 6px solid #6060de;
  cursor: pointer;
}

li {
  padding: 1rem;
  font-weight: 400;
  /* padding-bottom: 2rem; */
  text-shadow: 0 0 0px white;
  cursor: pointer;
}
ul {
  padding: none;
}
