<div class="navigation">
  <div class="userinfo">
    <div class="userlogo"></div>
    <div class="username">John Doe</div>
  </div>
  <div class="nav-container">
    <ul>
      <li (click)="itemClick($event, '/')" id="home">HOME</li>
      <li (click)="itemClick($event, 'players')" id="players">PLAYERS</li>
      <li (click)="itemClick($event,'portfolio')" id="portfolio">PORTFOLIO</li>
      <li (click)="itemClick($event, 'nftclaim')">CLAIM YOUR NFT</li>
      <li>TRADING REPORTS</li>
      <li>VERIFY KYC</li>
      <li (click)="logout()">LOGOUT</li>
    </ul>
  </div>
</div>