.example-card {
    width: 100%;
}
.total-runs {
    display: flex;
    padding-left: 1rem;
    justify-content: space-between;
    padding-right: 1rem;
    font-weight: bold;
}
.skillheader {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
