<div class="dashboard-containter">
  <div class="header">
    <div><span *ngIf="isWalletConnected">Hello, Welcome back!</span></div>
    <div>
      <input
        type="button"
        class="btn btn-primary"
        id="walletbtn"
        (click)="connectWallet($event)"
        value="Connect Wallet"
      />
    </div>
  </div>
  <div class="row first-row">
    <div class="col-md-1 col-lg-1"></div>
    <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
      <!-- <div class="heading">Matches</div> -->
      <div style="height: 171px">
        <ngx-slick-carousel
          class="carousel"
          #slickModal="slick-carousel"
          [config]="slideConfig"
        >
          <div ngxSlickItem *ngFor="let slide of matchData" class="slide">
            <app-match-card [matchData]="slide"></app-match-card>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
    <div class="col-md-1 col-lg-1"></div>

  </div>
  <div class="row second-row">
    <div class="col-md-1 col-lg-1"></div>
    <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12 gx-5">
      <div class="heading">Trending Players</div>
      <table class="table table-dark">
        <thead>
          <tr>
            <td class="theader">Name</td>
            <td class="theader">Price</td>
            <td class="theader">Change</td>
            <td class="theader">Market Cap</td>
            <td class="theader">Watch</td>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of trendingPlayers"
            style="cursor: pointer"
            (click)="redirecToPlayerProfile(item)"
          >
            <td class="tcell">{{ item.name }}</td>
            <td class="tcell">{{ item.price }}</td>
            <td class="tcell">
              <div [innerHTML]="getChangeText(item.change)"></div>
            </td>
            <td class="tcell">{{ item.marketcap }}</td>
            <td class="tcell">
              <div [class]="getStarClass(item.isFavruit)"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
  </div>
</div>
<div class="icnmention">
  <a target="_blank" href="https://icons8.com/icon/Ed5WzXg37ZDw/up"></a> Icons
  by <a target="_blank" href="https://icons8.com">Icons8</a>
</div>
