.card {
  background-color: black !important;
  box-shadow: 0px 0px 3px 2px whitesmoke;
}
.gradient0 {
  background: rgb(195, 220, 249);
  background: linear-gradient(
    90deg,
    rgba(195, 220, 249, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.gradient1 {
  background: rgb(176, 245, 185);
  background: linear-gradient(
    27deg,
    rgba(176, 245, 185, 1) 0%,
    rgba(214, 237, 217, 1) 100%
  );
}
.gradient2 {
  background: rgb(241, 229, 180);
  background: linear-gradient(
    27deg,
    rgba(241, 229, 180, 1) 0%,
    rgba(214, 237, 217, 1) 100%
  );
}

.card-text {
  color: black;
  font-weight: 800;
}
.red {
  color: red !important;

  margin-top: 21px;
}
.blue {
  color: #30d430 !important;

  margin-top: 21px;
}
.status-text {
  margin-left: 20px;
}
.widget-footer {
  display: flex;
  height: 50px;
  margin-top: 33px;
  padding: 5px;
  margin-bottom: 10px;
}
.green {
  color: green;
}
.sports-logo {
  //   flex: 2;
  margin-left: 16px;
  /* text-align: center; */
  background: white;
  height: 48px;
  border-radius: 10px;
}
.margin-status {
  //   flex: 5;
  margin-left: 10px;
}
.icnmention {
  position: fixed;
  bottom: 0;
  right: 0;
}

.cricket {
  background: url("../../../assets/cricket.png") no-repeat;
  height: 48px;
  width: 48px;
}
.football {
  background: url("../../../assets/football.png") no-repeat;
  width: 48px;
  height: 48px;
}
.basketball {
  background: url("../../../assets/basketball.png") no-repeat;
  width: 48px;
  height: 48px;
}
.status-marker-red {
  background: url("../../../assets/downarrow.png") no-repeat;
  height: 24px;
  background-size: contain;
}
.status-marker-blue {
  background: url("../../../assets/uparrow.png") no-repeat;
  height: 48px;
  height: 24px;
  background-size: contain;
}

.filledstar {
  background: url("../../../assets/filledstar.png") no-repeat;
  height: 24px;
  width: 24px;
  background-size: contain;
}

.star {
  background: url("../../../assets/star.png") no-repeat;
  height: 24px;
  width: 24px;
  background-size: contain;
  background-color: whitesmoke;
  border-radius: 50px;
}

.adv {
  background: url("../../../assets/advirt.jpg") no-repeat;
  height: 100%;
  width: 100%;
}

.heading {
  font-size: x-large;
  font-weight: 600;
  padding: 35px;
  text-shadow: 0 0 3px whitesmoke;
}

td.theader {
  filter: brightness(0.5);
  border: none !important;
  text-shadow: 0 0 5px whitesmoke;
}
td.tcell {
  background: none;
  border: none;
  font-weight: 650;
}
.header {
  margin-left: 225px;
  padding: 1rem;
  color: #548bf1;
}

.chart-numbers {
  display: flex;
  margin-left: 1rem;
  font-size: 12px;
}
.chart-text {
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 14px;
  text-shadow: 0 0 whitesmoke;
}
