<div class="stock-data-container">
  <div class="stock-title">Stock Data</div>
  <div class="stockdata p-3">
    <table>
      <tr>
        <td>High</td>
        <td>
          <span> {{ data?.high }}</span>
        </td>
      </tr>
      <tr>
        <td>Low</td>
        <td>
          <span>{{ data?.low }}</span>
        </td>
      </tr>
      <tr>
        <!-- <td>Popularity</td>
        <td>
          <span>{{ data?.popularity }}</span>
        </td>
      </tr> -->
      <tr>
        <td colspan="2">
          <div class="marginwidget"></div>
        </td>
      </tr>
    </table>
  </div>
  <div class="buy-sell">
    <div class="btn-container">
      <div class="buy">BUY</div>
      <div class="sell blb" (click)="sellStock()">SELL</div>
    </div>
    <div class="buy-options">
      <div>
        <div class="stock-details p-3">
          <table>
            <tr>
              <td></td>
              <td>
                <!-- <div class="dropdown">
                  <select>
                    <option selected>LIMIT</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                </div> -->
              </td>
            </tr>
            <tr>
              <td>Stocks</td>
              <td><input class="stockdata" id="total" value="0" type="number" min="0"></td>
            </tr>

            <tr>
              <td>Market Price</td>
              <td>{{data.marketprice}}</td>
            </tr>

            <tr class="last-row">
              <td>Platform Fee</td>
              <td></td>
            </tr>

            <tr class="total">
              <td>Total</td>
              <td></td>
            </tr>
          </table>
        </div>
        <div class="footer-container">
          <button class="btn" (click)="buyClick()">Buy Shares</button>
        </div>
        <div class="p-3" style="text-align: center; color: grey; cursor: pointer">
          Treding Options
        </div>
      </div>
    </div>
  </div>
</div>