@import "~bootstrap/dist/css/bootstrap.css";

// body {
//   background-color: black;
//   color: whitesmoke;
// }
.chart-container {
  position: relative;
  box-shadow: 0 0 4px whitesmoke;
}
.slick-center {
  background: whitesmoke;
  box-shadow: 0px -1px 11px 0px white;
  border-radius: 10px;
}

.df {
  display: flex;
  justify-content: space-evenly;
}
.rr {
  background-image: url("./assets/RR.svg");
}
.rcb {
  background-image: url("./assets/RCB.svg");
}
.mi {
  background-image: url("./assets/MI.svg");
}
.csk {
  background-image: url("./assets/csk.svg");
}
.dc {
  background-image: url("./assets/delhi-capitals-logo.svg");
}
.srh {
  background-image: url("./assets/SRH.svg");
}
.pbks {
  background-image: url("./assets/pbks.svg");
}

.kkr {
  background-image: url("./assets/kkr.png");
}

.tbc{
  background-image: url("./assets/tbd.png");
}